.logo{
    width: 120px;
}

.login_btn{
    position: absolute;
    top: 8%;
    left: 12%;
    color: #006FBF;
    
}

.btn_inf{
    size: 10px;
}


.btn_oco{
    height: 10%;
}

.btn_cfg{
    top: 30%;
    left: 71%;
    height: 50%;
    
}

.login_prof{
    position: absolute;
    top: 8%;
    left: 4%;
    color: #006FBF;
    
}
.login_ocor{
    position: absolute;
    top: 8%;
    left: 16%;
    color: #006FBF;
    
}
.cadastrar{
    position: absolute;
    top: 7%;
    left: 55%;
}
.foto_perfil{
    position: absolute;
    left: 2%;
    top: 7%;
}

.nome_perfil{
    position: absolute;
    left: 6%;
    top: 10%;
}

.btn_config{
    position: absolute;
    left: 90%;
    top: 7%;
}

.time{
    position: absolute;
    left: 89%;
    top: 15%;
    font-style: oblique;
}

body{
    margin-right: 20px;
    border: 1px;
    background-color: #006FBF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid; 
    grid-template-areas:  /*grid*/
    "hed hed hed"
    "asi asi asi"
    "mai mai mai"
    "foo foo foo";
    grid-template-columns: 0.5fr 3fr; /* tamanho da colunas no grid*/
    grid-gap: 4px;/*espaçamento entres o main, aside , header e footer */
}

header{
    margin: 1%;
    grid-area: hed;
    background-color: #EFEFEF;
    height: 10rem;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

header li{ 
    padding-left: 15px; 
    display: inline-flex; 
}

#h2header{ 
    font-family: Arial, Helvetica, sans-serif; 
    color: #006fbf;
    font-size: 20px; 
    text-decoration: none; 
    text-align: right;
}

main{
    margin: 1%;
    justify-content: center; 
    align-items: center; 
    display: inline-flex; 
    grid-area: mai;
    background-color: #EFEFEF;
    height: 40rem;
    gap: 4rem;
}

aside{
    margin: 1%;
    height: auto;
    grid-area: asi;
    background-color: #EFEFEF;
    height: 10rem;
}

footer{
    margin: 1%;
    position: relative;
    grid-area: foo;
    background-color: #EFEFEF;
    height: 10rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
}