body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #006fbf;
}
/*Começo CSS principal*/
.body_prin{
  margin-right: 20px;
  border: 1px;
  background-color: #006FBF;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: grid; 
  grid-template-areas:  /*grid*/
  "hed hed hed"
  "asi asi asi"
  "mai mai mai"
  "foo foo foo";
  grid-template-columns: 0.5fr 3fr; /* tamanho da colunas no grid*/
  grid-gap: 4px;/*espaçamento entres o main, aside , header e footer */
}

.header_prin{
  margin: 1%;
  grid-area: hed;
  background-color: #EFEFEF;
  height: 10rem;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.li_prin{
  padding-left: 15px; 
  display: inline-flex; 
}

#h2header{ 
  font-family: Arial, Helvetica, sans-serif; 
  color: #006fbf;
  font-size: 20px; 
  text-decoration: none; 
  text-align: right;
}

#h2header:hover{
  filter: invert(60%);
}

.main_prin{
  margin: 1%;
  justify-content: center; 
  align-items: center; 
  display: inline-flex; 
  grid-area: mai;
  background-color: #EFEFEF;
  height: 40rem;
  gap: 4rem;
}

.aside_prin{
  margin: 1%;
  height: auto;
  grid-area: asi;
  background-color: #EFEFEF;
  height: 10rem;
}

.footer_prin{
  margin: 1%;
  position: relative;
  grid-area: foo;
  background-color: #EFEFEF;
  height: 10rem;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.logo{
  width: 120px;
}

.login_btn{
  position: absolute;
  top: 8%;
  left: 12%;
  color: #006FBF;
}

.btn_inf{
  size: 10px;
}

.btn_inf:hover{
  filter: invert(20%);
}

.btn_oco{
  height: 10%;
}

.btn_oco:hover{
  filter: invert(20%);
}

.btn_cfg{
  top: 30%;
  left: 71%;
  height: 50%;   
}

.btn_cfg:hover{
  filter: invert(20%);
}

.login_prof{
  position: absolute;
  top: 8%;
  left: 4%;
  color: #006FBF;   
}

.login_ocor{
  position: absolute;
  top: 8%;
  left: 16%;
  color: #006FBF;  
}

.cadastrar{
  position: absolute;
  top: 7%;
  left: 55%;
}

.foto_perfil{
  position: absolute;
  margin-left: -88%
}

.nome_perfil{
  position: absolute;
  margin-left: -75%
}

.btn_config{
  position: absolute;
  left: 90%;
  top: 7%;
}

.time{
  position: absolute;
  left: 89%;
  top: 15%;
  font-style: oblique;
}
/*final CSS principal*/

/*Começo CSS historico*/
.h1_his{
  color: #006fbf;
  text-align: center;
}

#h2header{ 
  font-family: Arial, Helvetica, sans-serif; 
  color: #006fbf;
  font-size: 20px; 
  text-decoration: none; 
  text-align: right;
}

#h2header:hover{
  filter: invert(60%);
}

.table_his{
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.th_his{
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.tr_his:nth-child(even){
  background-color: #f2f2f2;
}

.td_his:hover{
  background-color: #ffad01;
}


.main_his{
  margin: 1%;
  position: relative;
  grid-area: mai;
  background-color: #EFEFEF;
  height: 40rem;
}
.btn_inf{
  position: absolute;
  height: 50%;
  top: 30%;
  left: 10%;
}

.btn_oco{
  position: absolute;
  top: 30%;
  left: 41%;
  height: 50%;
}

.btn_cfg{
  position: absolute;
  align-self: center;
  justify-content: center;
  padding-left: 70%;
  padding-top: 10%;
  height: 50%; 
}

.btn_home{
  position: absolute;
  top: 8%;
  left:12%;
  width: 5%;
  height: 5%;
}
/*final CSS histotrico*/

h1 {
  margin-bottom: 20px;
  color: #ffffff;
}
  
.form {
  background-color: #efefef;
  padding: 30px;
  border-radius: 5px, 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 350px;
}


.form2 {
  background-color: #efefef;
  padding: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 350px;
}

label {
  display: block;
  margin-bottom: 5px;
}
  
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  button:hover{
    filter: invert(15%);
  }

  .btn_voltar{
    background-color: #4CAF50;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .btn_voltar:hover{
    filter: invert(15%);
  }

  img{
    width: auto;
  }

  .cadastroimg{
    width: 100px; 
    height: auto; 
  }
  
  .ocorrenciaimg{
    width: 100px; 
    height: auto; 
  }

  header{
    margin-bottom: auto;
  }