.caixa1{

    display: flex; /* declarar o flexbox */
    flex-direction: column; /* alinhamento por linha ou horizontal */
    justify-content: center; /* centralizcao dos elementos */
    align-items: center;
    grid-area: b;
    background-color: #006fbf;
    width: auto;
}
button{
    height: 50px;
    width: 100px;
}
img{
    width: 100px;
    grid-area: b;
}
body{
    display: grid;
    grid-template-areas: 
    "a"
    "b"
    "c";
    grid-gap: 5px;
    grid-template-rows: auto 1000px auto;
}
header{
    grid-area: a;
    background-color: red;
}
footer{
    grid-area: c;
    background-color: blue;
}